<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<script th:inline="javascript">
    $(function(){
    var user = /*[[${user}]]*/ null;
    var finalName = user.nickName;
    var id = user.id;
    $(".chat").niceScroll();
    var mySocket = new WebSocket("ws://localhost:7070/chatroom/"+id);

    mySocket.onopen = function(e){
        console.log(e);
    }

    $(".answer-add:first").find("input").on("keyup",function(e){
        var code = e.key;
        var input = $(".answer-add:first").find("input");
        var value = input.val();
        if(code==="Enter"){
            sendMsg(value);
        }
    })


    mySocket.onmessage = function(e){
        var data = e.data;
        const msg = JSON.parse(data);
        if(msg.type == "onlineUsers"){
           updateOnlineUser(msg.OnlineUser);
        }else if(msg.type == "system"){
            systemMsg(msg.content);
        }else{
            updateMsg(msg.id,msg.content,msg.name,msg.iconId);
        }
        console.log(e.data);
    }
        

    function addUser(name,iconid){
        var userDom = document.createElement("div");
        var userName = document.createElement("div");
        var iconDom = document.createElement("div");
        var imgNode = document.createElement("img");
        var statusNode = document.createElement("div");
        var moodDom = document.createElement("div");
        imgNode.src = "https://bootdey.com/img/Content/avatar/avatar" + iconid +".png";
        iconDom.classList.add("avatar");
        statusNode.classList.add("status","online");
        iconDom.appendChild(imgNode)
        iconDom.appendChild(statusNode);
        userDom.classList.add("user");
        userName.classList.add("name");
        userName.innerText = name;
        userDom.appendChild(iconDom);
        userDom.append(userName);
        moodDom.classList.add("mood");
        moodDom.innerText="Hello World!";
        userDom.append(moodDom);
        document.getElementById("userList").append(userDom);        
    }

    function updateMsg(id,msg,nickName,iconid){
        var templateCode = `
        <div class="answer ${id === user.id ? 'right' : 'left'}">
                <div class="avatar">
                  <img src="https://bootdey.com/img/Content/avatar/avatar${iconid}.png" alt="User name">
                  <div class="status offline"></div>
                </div>
                <div class="name">${nickName}</div>
                <div class="text">
                  ${msg}
                </div>
                <div class="time">5 min ago</div>
              </div>
        `;
        $(".answer-add:first").before(templateCode);

    }

    function updateOnlineUser(onlineUser){
        document.getElementById("userList").innerHTML = "";
        $.each(onlineUser,function(index,value){
          console.log(value);
            addUser(value.name,value.iconId);
        });
    }

    function systemMsg(msg){
        var template = `<div class="answer" style="width:100% !important">
            <div class="" style="display:flex;justify-content: space-around;color:gray">
        ${msg}
    </div>
    </div>
            `;
    $(".answer-add:first").before(template);
    }

    function sendMsg(msg){
        mySocket.send(msg);
    }
}) 
</script>
</head>
<div class="container">
<div class="content container-fluid bootstrap snippets bootdey">
      <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
          <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
            <div class="chat-users">
              <h6>online</h6>
              <div id="userList"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
          <div class="col-inside-lg decor-default">
            <div class="chat-body">
              <h6>Mini Chat</h6>
              <div class="answer-add">
                <input placeholder="Write a message">
                <span class="answer-btn answer-btn-1"></span>
                <span class="answer-btn answer-btn-2"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</html>